click==7.1.2
PyQt5 @ file:///C:/Balu/test-pyqt/.extras/qt-install/PyQt5-5.15.4-py3-none-win_amd64.whl
pyqt5-plugins @ file:///C:/Balu/test-pyqt/qt-install/pyqt5_plugins-5.15.4.2.2-py3-none-win_amd64.whl
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqt5-tools==5.15.4.3.2
pyqt5ac==1.2.1
python-dotenv==0.21.0
PyYAML==6.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
